body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #2d726e;
  color: rgba(255, 255, 255, 0.5);
  line-height: 2; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
  color: #000; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 3.5rem;
  font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff; }

.form-control {
  border: none;
  border: 1px solid #ccc;
  border-radius: 4px; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000; }

.btn, .form-control, .custom-select {
  height: 50px; }

.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; }

.heading {
  color: #888;
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-weight: 400; }

.btn {
  color: #fff;
  border: none;
  border-radius: 4px !important;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1) !important; }
  .btn:hover {
    color: #fff; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08); }
  .box h3 {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #395bab;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }

.submitting {
  text-align: center;
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }

  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  article, header, section, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
      display: block;
  }
  body {
      background:#d9e5ed none repeat scroll 0 0;
      color: #222;
      font-size: 100%;
      line-height: 24px;
      margin: 0;
    padding:0;
    font-family: "Raleway",sans-serif;
  }
  a{
    font-family: "Raleway",sans-serif;
    text-decoration: none;
    outline: none;
  }
  a:hover, a:focus {
    color: #373e18;
  }
  section {
      float: left;
      width: 100%;
    padding-bottom:3em;
  }
  h2 {
      color: #1a0e0e;
      font-size: 26px;
      font-weight: 700;
      margin: 0;
      line-height: normal;
    text-transform:uppercase;
  }
  h2 span {
      display: block;
      padding: 0;
      font-size: 18px;
      opacity: 0.7;
      margin-top: 5px;
    text-transform:uppercase;
  }
  
  #float-right{
    float:right;	
  }
  
  /* ******************************************************
    Script Top
  *********************************************************/
  
  .ScriptTop {
      background: #fff none repeat scroll 0 0;
      float: left;
      font-size: 0.69em;
      font-weight: 600;
      line-height: 2.2;
      padding: 12px 0;
      text-transform: uppercase;
      width: 100%;
  }
  
  /* To Navigation Style 1*/
  .ScriptTop ul {
      margin: 24px 0;
      padding: 0;
      text-align: left;
  }
  .ScriptTop li{
    list-style:none;	
    display:inline-block;
  }
  .ScriptTop li a {
      background: #6a4aed none repeat scroll 0 0;
      color: #fff;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      padding: 5px 18px;
      text-decoration: none;
      text-transform: capitalize;
  }
  .ScriptTop li a:hover{
    background:#000;
    color:#fff;
  }
  
  
  /* ******************************************************
    Script Header
  *********************************************************/
  
  .ScriptHeader {
      float: left;
      width: 100%;
      padding: 2em 0;
  }
  .rt-heading {
      margin: 0 auto;
    text-align:center;
  }
  .Scriptcontent{
    line-height:28px;	
  }
  .ScriptHeader h1{
    font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
      color: #6a4aed;
      font-size: 26px;
      font-weight: 700;
      margin: 0;
      line-height: normal;
  
  }
  .ScriptHeader h2 {
      color: #312c8f;
      font-size: 20px;
      font-weight: 400;
      margin: 5px 0 0;
      line-height: normal;
  
  }
  .ScriptHeader h1 span {
      display: block;
      padding: 0;
      font-size: 22px;
      opacity: 0.7;
      margin-top: 5px;
  
  }
  .ScriptHeader span {
      display: block;
      padding: 0;
      font-size: 22px;
      opacity: 0.7;
      margin-top: 5px;
  }
  
  
  
  
  /* ******************************************************
    Live Demo
  *********************************************************/
  
  
  
  
  
  /* ******************************************************
    Responsive Grids
  *********************************************************/
  
  .rt-container {
    margin: 0 auto;
    padding-left:12px;
    padding-right:12px;
  }
  .rt-row:before, .rt-row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  
  .rt-row:after {
    clear: both;
  }
  [class^="col-rt-"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0 15px;
    min-height: 1px;
    position: relative;
  }


  .star-rating {
    margin: 25px 0 0px;
   font-size: 0;
   white-space: nowrap;
   display: inline-block;
   width: 175px;
   height: 35px;
   overflow: hidden;
   position: relative;
   background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
   background-size: contain;
 }
 .star-rating i {
   opacity: 0;
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 20%;
   z-index: 1;
   background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
   background-size: contain;
 }
 .star-rating input {
   -moz-appearance: none;
   -webkit-appearance: none;
   opacity: 0;
   display: inline-block;
   width: 20%;
   height: 100%;
   margin: 0;
   padding: 0;
   z-index: 2;
   position: relative;
 }
 .star-rating input:hover + i,
 .star-rating input:checked + i {
   opacity: 1;
 }
 .star-rating i ~ i {
   width: 40%;
 }
 .star-rating i ~ i ~ i {
   width: 60%;
 }
 .star-rating i ~ i ~ i ~ i {
   width: 80%;
 }
 .star-rating i ~ i ~ i ~ i ~ i {
   width: 100%;
 }
 .choice {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   text-align: center;
   padding: 20px;
   display: block;
 }
 span.scale-rating{
 margin: 5px 0 15px;
     display: inline-block;
    
     width: 100%;
    
 }
 span.scale-rating>label {
   position:relative;
     -webkit-appearance: none;
   outline:0 !important;
     border: 1px solid grey;
     height:33px;
     margin: 0 5px 0 0;
   width: calc(10% - 7px);
     float: left;
   cursor:pointer;
 }
 span.scale-rating label {
   position:relative;
     -webkit-appearance: none;
   outline:0 !important;
     height:33px;
       
     margin: 0 5px 0 0;
   width: calc(10% - 7px);
     float: left;
   cursor:pointer;
 }
 span.scale-rating input[type=radio] {
   position:absolute;
     -webkit-appearance: none;
   opacity:0;
   outline:0 !important;
     /*border-right: 1px solid grey;*/
     height:33px;
  
     margin: 0 5px 0 0;
   
   width: 100%;
     float: left;
   cursor:pointer;
   z-index:3;
 }
 span.scale-rating label:hover{
 background:#fddf8d;
 }
 span.scale-rating input[type=radio]:last-child{
 border-right:0;
 }
 span.scale-rating label input[type=radio]:checked ~ label{
     -webkit-appearance: none;
 
     margin: 0;
   background:#fddf8d;
 }
 span.scale-rating label:before
 {
   content:attr(value);
     top: 7px;
     width: 100%;
     position: absolute;
     left: 0;
     right: 0;
     text-align: center;
     vertical-align: middle;
   z-index:2;
 }