 .u-section-1 {
  min-height: 515px;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.u-section-1 .u-table-footer-1 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 29px auto 39px calc(((100% - 1140px) / 2) + 465px);
  padding: 8px 57px 9px 56px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 265px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 45px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-header-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }
}